.App {
  text-align: center;
}

.App-imageContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.App-image {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  cursor: pointer;
}

.App-image img {
  width: 130px;
}